body {
  background-color: aqua;
  font-family: Georgia, serif;
}

h1 {
  font-family: "Comic Sans MS";
  font-size: 60px;
  color: darkblue;
  text-align: center;
}

h4 {
  text-align: right;
  font-style: italic;
}

div a {
    font-family :'Franklin Gothic Medium'; 
  color: white;
  text-decoration: underline;
  transition: 0.3s ease; 
}

div a:hover {
  color: red; 
  text-decoration: none;
}

div p {
  text-align: center;
  color: orange;
}

div + p {
  text-align: right;
  line-height: 30px;
}

a {
  color: blue;
  text-decoration: none;
  transition: 0.3s ease;
}
p a:hover {
  color: white;
  background-color: blue;
  border-radius: 3px;
}
